#server:
#  port: 8889
spring:
#  profiles:
#    active: dev
#  application:
#    name: auth-server
#  messages:
#    basename: messages
  devtools: # 热部署工具，需要在idea中同时设置auto compiler
    restart:
      enabled: true
      additional-paths: src/main/java, src/main/resources/application*
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher #swagger3要求
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/authorization_server?useSSL=false&useUnicode=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai&characterEncoding=UTF-8
    username: root
    password: luc123456
  data:
    redis:
      database: 0
      host: 127.0.0.1
      port: 6379
      timeout: 5000
      username:
      password: luc123456
      client-type: lettuce
      lettuce:
        pool:
          min-idle: 8
          max-idle: 500
          max-active: 2000
          max-wait: 10000
          enabled: true
mybatis-plus:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

logging:
  level:
    org.springframework.security: debug
