server:
  port: 8889

spring:
  application:
    name: authorization-server
  devtools:
    restart:
      enabled: true
  profiles:
    active: dev
  cloud:
    nacos:
      username: 'luc'
      password: 'luc123456'
      server-addr: 127.0.0.1:8848
      discovery:
        namespace: com-lc-dev
# 日志配置
logging:
  level:
    root: info
    org.springframework.security: trace
    com.lc.auth.server: debug
