knife4j:
  gateway:
    enabled: true
    # 使用discover方式从nacos中聚合文档时，要求各个服务采用统一的文档规则，swagger2或openapi3,
    # 个别特殊服务无法满足这个要求的，需要从discover规则中排除
    # discover模式下， 无法做到服务分组， 所有文档地址默认为/{service-name}/v3/api-docs/default
    strategy: discover
    discover:
      enabled: true
      version: openapi3
      excluded-services:
        - auth-gateway
    tags-sorter: alpha
    operations-sorter: alpha


