spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher #swagger3要求
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: luc123456
    url: jdbc:mysql://localhost:3306/institution_center?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=FALSE
  cloud:
    gateway:
      httpclient:
        wiretap: true
      httpserver:
        wiretap: true
      discovery:
        locator:
          enabled: true # 开启配置中心，网关将从配置中心获取服务的地址, 如果开启负载均衡， 则网关中的filter在使用feignclient是要用@Lazy懒加载
          lowerCaseServiceId: true
      routes:           # 启用配置中心后， 将从配置中心拉取service-test-luc1服务的地址，用来组装uri
        # 系统服务
        - id: luc-system
          uri: lb://luc-system   # lb://institution-server表示以负载均衡的方式获取对实例luc-system的请求进行路由
          predicates:
            - Path=/luc-system/**
          filters:
            - StripPrefix=1
        # 认证服务
        - id: auth-server
          uri: lb://auth-server
          predicates:
            - Path=/auth-server/**
          filters:
            - StripPrefix=1
  data:
    redis:
      client-type: lettuce
      database: 0
      host: 127.0.0.1
      port: 6379
      password: luc123456
      lettuce:
        pool:
          enabled: true
          min-idle: 1
  #          enabled: true
  #          max-active: 6
  #          max-idle: 6
  #          max-wait: 1000
  security:
    oauth2:
      authorizationserver:
        issuer: ${gateway.endpoint}:${server.port}/auth-server
      resourceserver:
        jwt:
          issuer-uri: ${gateway.endpoint}:${server.port}/auth-server
        opaquetoken:
          client-id: gateway-client
          client-secret: secret
#          introspection-uri:
#      client:
#        provider:
#          provider-authorization-server:
#            issuer-uri: http://127.0.0.1:8889
#            authorization-uri: http://127.0.0.1:8889/oauth2/authorize
#            token-uri: http://127.0.0.1:8889/oauth2/token
#        registration:
#          gateway-client:
#            provider: provider-authorization-server
#            client-name: gateway-client
#            client-id: gateway-client
#            client-secret: secret
#            client-authentication-method: client_secret_basic
#            # 授权类型，客户端从授权服务器获取access-token的方式
#            # spring security提供了4中默认的授权类型: authorization_code, refresh_token, client_credentials, urn:ietf:params:oauth:grant-type:jwt-bearer
#            # 可以在授权服务器authorization-server中自定义授权类型, 注意需要将自定义的授权类型注入到OAuth2AuthorizationServerMetadata中
#            authorization-grant-type: authorization_code
#            # 必须与授权服务器中注册的redirect-uri一致
#            redirect-uri: '{baseUrl}/{action}/oauth2/code/{registrationId}'
#            scope:
#              - read
#              - write
#              - openid

# 聚合api文档
#knife4j:
#  gateway:
#    enabled: true
#    # 使用discover方式从nacos中聚合文档时，要求各个服务采用统一的文档规则，swagger2或openapi3,
#    # 个别特殊服务无法满足这个要求的，需要从discover规则中排除
#    # discover模式下， 无法做到服务分组， 所有文档地址默认为/{service-name}/v3/api-docs/default
#    strategy: discover
#    discover:
#      enabled: true
#      version: openapi3
#      excluded-services:
#        - auth-gateway
#    tags-sorter: alpha
#    operations-sorter: alpha

logging:
  level:
    root: info
  config: classpath:logback-lc.xml

sys:
  security:
    white-paths:
      - /favicon.ico
      - /webjars/**
      - /auth-server/login
      - /login
      - /*/login
      - /doc.html
      - /*/*.html
      - /v3/api-docs/**
      - /*/v3/api-docs/**
      - /swagger-ui/**
      - /captcha
luc:
  gateway:
    captcha:
      url: /captcha
      enabled-types:
        - default
        - mixed
        - math

springdoc:
  swagger-ui:
    use-root-path: true
  api-docs:
    enabled: true


